---
import Layout from '../layouts/Layout.astro';
---

<Layout title="tienda" description="Tienda de guitarras a un muy buen precio">
    <main class="contenedor">
        <h1 class="heading">Tienda Virtual</h1>
    </main>
</Layout>

<style></style>
